<!DOCTYPE html>
<html lang="en">


<head>
<style>
label{
	font-size: 18px;

	}
</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Ingreso de nuevo alumno</h1>
	
	<form method="post" th:action="@{/procesar}" th:object="${producto}">
		<div><label class="normal-text">Codigo de producto universal: </label></div>
		<br>
		<div><input th:field="*{codProducto}" id="codProducto" type="text" placeholder="Ingrese el codigo del producto" name="codProducto" style="width: 300px; height:30px"/>
		<span th:errors="*{codProducto}" style="color: #FF0000"></span>
		</div>
	    <br>
	    <div><label>Nombre del producto: </label></div>
	    <br>
	    <div><input th:field="*{nombreProducto}" input id="nombreProducto" type="text" placeholder="Ingrese el nombre del producto" name="nombreProducto" style="width: 300px; height:30px"/>
	    <span th:errors="*{nombreProducto}" style="color: #FF0000"></span>
	    </div>
	    <br>
	    <div><label>Marca del producto: </label></div>
	    <br>
	    <div><input th:field="*{marca}" id="marca" type="text" placeholder="Ingrese la marca del producto" name="marca" style="width: 300px; height:30px"/>
	    <span th:errors="*{marca}" style="color: #FF0000"></span>
	    </div>
	   	<br>
	   	<div><label>Descripcion: </label></div>
	   	<br>
	   	<div><input th:field="*{descripcion}" id="descripcion" type="text" placeholder="Ingrese una descripcion para el producto" name="descripcion" style="width: 300px; height:30px"/>
	   	<span th:errors="*{descripcion}" style="color: #FF0000"></span>
	   	</div>
	   	<br>
	   	<div><label>Existencias: </label></div>
	   	<br>
		<div><input th:field="*{existencias}" id="existencias" type="text" placeholder="Ingrese cantidad en existencia del producto" name="existencias" style="width: 300px; height:30px"/>
		<span th:errors="*{existencias}" style="color: #FF0000"></span></div>
	   	<br>
	   	<div><label>Fecha de Ingreso: </label></div>
	   	<br>
	   	<div><input th:field="*{fechaIngreso}" id="fechaIngreso" type="text" placeholder="Fecha de ingreso formato dd/MM/aaaa" name="fechaIngreso" style="width: 300px; height:30px"/>
	   	<span th:errors="*{fechaIngreso}" style="color: #FF0000"></span></div>
	   	<br>
	   
	    <br>
	    <div><input type="submit"  value=" Guardar Producto" style="width: 150px; height:35px; background-color:DodgerBlue"/></div>
	    
	    </form>

</body>
</html>
